<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado CRUD</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <%-include('./partials/navbar')%>
    <main>
        <section>
            <h1></h1>
        </section>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>