<header>
    <nav>
        
        <ul class="list"> 
            <h3>SISTEMA DE CADASTRO DE USUÁRIOS</h3>
            <a href="/" id="home"><li>Home</li></a>
            <%if(!locals.isLogged){%>
                <div class="cadUser">
                <a href="/register"><li>Cadastrar usuário</li></a>
                <a href="/login"><li>Login</li></a>
            </div>
                <%}else{%>
                    <div class="cadUser">
                <a href="/profile"><li>Meu perfil</li></a>
                <a href="/logout"><li>Sair</li></a>
            </div>
                <%}%>   
        </ul>
    </nav>
</header>

