<header>
    <nav>
        <img src="" alt="">
        <ul> 
            <a href="/"><li>Home</li></a>
            <a href="/register"><li>Cadastrar-se</li></a>
            <a href="/login"><li>Login</li></a>
            <a href="/profile"><li>Meu perfil</li></a>
        </ul>
    </nav>
</header>